//Colors
$un-c-e: #e6ebff;
$cl-black: #000000;
$cl-white: #ffffff;
$cl-green: #5efc8d;

//Sizes
$max-content: 100%;

//Position
$abs: absolute;
$rel: relative;

//Popin
$popin: normal normal 600 54px/81px sans-serif;
$popin2: normal normal 300 48px/72px sans-serif;

$curs: pointer;
$cap: capitalize;
