@use "../../sass/index.scss" as *;

.todo_list_container {
  @include flex(center, center);
  margin-top: 20px;
  flex-direction: column;
  h1 {
    margin-bottom: 20px;
    font: normal normal 600 42px/63px sans-serif;
    font-weight: bold;
  }
  input {
    width: 487px;
    height: 46px;
    background: $un-c-e;
    border: none;
    padding-left: 20px;
  }
  input::placeholder {
    font-size: 1.2em;
    font-weight: bold;
  }
  button {
    position: $abs;
    height: 46px;
    width: 100px;
    left: 65%;
    border: none;
    background: $cl-green;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
  }
  .tasks {
    margin-top: 20px;
    margin-left: 35px;
    .added_tasks {
      border-radius: 4px;
      padding-top: 20px;
      padding-left: 20px;
      color: $cl-white;
      width: 510px;
      height: 40px;
      background: $cl-black;
      margin-bottom: 10px;
      list-style: none;
    }
  }
  .todo_template {
    width: 100px;
    display: flex;
    margin-left: 33%;
    background: black;
    position: absolute;
    margin-top: 20px;
    background: none;
    cursor: $curs;
    .delete_task {
      margin-left: 50px;
    }
  }
}
