@use "../../sass/index.scss" as *;

.todo_list_container {
  @include flex(center, center);
  margin-top: $regular_size;
  flex-direction: $cl;
  h1 {
    margin-bottom: $regular_size;
    font: $todopoppin;
    font-weight: $fw;
  }
  input {
    width: 487px;
    height: 46px;
    background: $un-c-e;
    border: $without;
    padding-left: $regular_size;
    outline: $without;
  }
  input::placeholder {
    font-size: 1.2em;
    font-weight: $fw;
  }
  button {
    position: $abs;
    height: 46px;
    width: 100px;
    left: 65%;
    border: $without;
    background: $cl-green;
    font-weight: $fw;
    font-size: 1.5em;
    cursor: $curs;
  }
  .tasks {
    margin-top: $regular_size;
    margin-left: 35px;
    .added_tasks {
      border-radius: 4px;
      padding-top: 10px;
      padding-left: 30px;
      color: $cl-white;
      width: 530px;
      margin-left: 30px;
      height: 35px;
      background: $cl-black;
      margin-bottom: 10px;
      list-style: $without;
      font-weight: $fw;
      font-family: sans-serif;
    }
    .completed {
      border-radius: 4px;
      padding-top: 10px;
      padding-left: $regular_size;
      color: $cl-white;
      width: 520px;
      height: 32px;
      margin-bottom: 10px;
      list-style: $without;
      font-weight: $fw;
      font-family: sans-serif;
      background: $un-c-e;
    }
  }
  .todo_template {
    width: 100px;
    display: flex;
    margin-left: 31%;
    background: $cl-black;
    position: $abs;
    margin-top: 10px;
    background: $without;
    cursor: $curs;
    .delete_task {
      margin-left: 50px;
    }
  }
}

@media (max-width: 1000px) {
  .todo_list_container {
    input {
      width: 80vw;
    }
    button {
      width: 30%;
    }
    .added_tasks {
      width: 350px !important;
    }
  }
}
