@use "../../sass/index.scss" as *;

.registrer_container {
  background: $cl-black;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  position: $abs;
  @include flex(center, center);
  .registrer_box {
    @include flex(center, "");
    flex-direction: column;
    width: 450px;
    height: 500px;
    border-radius: 4px;
    background: $cl-white;
    h1 {
      font: $poppin;
      margin-top: $regular_size;
    }
    label {
      font: $poppin3;
      margin-top: $regular_size;
    }
    .img_bubble {
      img {
        width: 50px;
        padding: 0px 30px;
        height: 100px;
        border-radius: 80px;
        margin-top: 15px;
        cursor: $curs;
        &:hover {
          background: $cl-green;
        }
      }
    }
    input {
      width: 400px;
      height: 50px;
      border: $without;
      background: $un-c-e;
      padding-left: $regular_size;
      margin-bottom: 30px;
    }
    input::placeholder {
      font-weight: $fw;
      opacity: 1;
      font-size: 1.2em;
    }
    button {
      width: 238px;
      height: 56px;
      font-size: 2em;
      background: $cl-green;
      border: $without;
      cursor: $curs;
      &:hover {
        background: $cl-black;
        color: $cl-white;
      }
    }
  }
}

@media (max-width: 1000px) {
  .registrer_container {
    width: 100%;
    height: 100vh;
  }
}
