@use "../../sass/index.scss" as *;

.navbar_container {
  @include flex(center, space-between);
  background: $cl-black;
  height: 98px;
  h1 {
    color: $cl-white;
    font: normal normal 900 36px/55px sans-serif;
    margin-left: 20px;
  }
  .navbar_right_side {
    display: flex;
    align-items: center;
    div {
      color: $cl-white;
      font: $poppin3;
      margin-top: 20px;
      margin-right: 20px;
    }
    img {
      width: 68px;
      background: $un-c-e;
      border-radius: 100px;
      height: 68px;
      cursor: pointer;
    }
  }
  .sign_out {
    width: 100px;
    display: none;
    position: $abs;
    top: 60px;
    font-size: 16px;
    background-color: #5efc8d;
    color: #000000;
    border-radius: 4px;
    cursor: $curs;
    text-align: center;
  }
  :hover {
    .sign_out {
      display: block;
    }
  }
}
